.tkcgx { 
  margin-top: 35px;
  padding-right: 72px;
  padding-bottom: 25px;
  margin-left: 25px;
  margin-top: 42px;
  margin-bottom: 51px;
  margin-right: 20px;
  margin-bottom: 70px;
  border-left-width: 66px;
  padding-left: 39px;
  border-top-width: 94px;
  font-size: 61px;
  border-bottom-width: 16px;
  margin-top: 92px;
  padding-top: 16px;
  margin-left: 80px;
  padding-left: 23px;
  padding-left: 64px;
  padding-right: 81px;
  line-height: 80px;
  padding-right: 89px;
  border-left-width: 87px;
}
